@page
@model My_Scripture_Journal.AboutModel
@{
    ViewData["Title"] = "About";
}

<h1>About</h1>
<p class="tac fs30px fs-i-25px fs-m-23px fs-p-20px mb15px"><strong>My Scripture Journal</strong> is a Web App developed in order to help you in your scripture studies.</p>
<p class="tac fs30px fs-i-25px fs-m-23px fs-p-20px">You can save all the notes, where you can organize, edit, search, and see your thoughts. <strong>Just do it!</strong></p>

