@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <img src="~/lib/img/journal-pic.jpg" alt="Alternate Text" class="dblock mauto w100p br25px shadow mb15px"/>
    <p class="fs25px">For behold, this is my awork and my glory —to bring to pass the immortality and eternal elife of man.</p>
</div>
