@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to our Movie Catalog</h1>
    <img src="~/lib/img/banner.jpg" alt="Banner" class="mauto dblock w80p maxw850px br10px shadow" />
    <p class="mt15px tac lh2em">To every thing there is a season, and a time to every purpose under the heaven</p>
</div>
