@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p class="fs20px lh2em">Our Movies Catalog App has been designed in order to help you to store the best Church Movies, also you can add details about it, and pick a picture in our database, if you need a new one that isn’t added, please contact us</p>
